.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}


.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}



.App {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  width: 450px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 40px;
}


.cont {
  padding-left: 250px;
  padding-top: 125px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 100px;
  height: 100px;
  font-size: 150%;
}

.start {

  background-color: chartreuse ;
  color : black;
  padding-top: 30px;
}

.end {

  background-color:red ;
  color : black;
  padding-top: 30px;
}

.b {

  background-color:yellow ;
  padding-top: 30px;
}

.z{

  background-color:blue ;
  padding-top: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  grid-gap: 10px;
  color: #444;
  padding-bottom: 10px;
  padding-top: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Cormorant|Overpass");

.containerDash {
  background: linear-gradient(to right, #40e0d0, #1bbfaf);
  font-family: "Overpass";
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.Dash {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  width: 450px;
}
.joke p.setup {
  text-indent: 3rem;
  position: relative;
}

.joke p.setup::before {
  content: open-quote;
  font-size: 5rem;
  font-weight: bold;
  position: absolute;
  left: -3rem;
  top: -1rem;
  color: #1bbfaf;
}

.joke p {
  font-size: 1.8rem;
}

.joke p.punchline {
  text-transform: uppercase;
  font-weight: bold;
}
.btn {
  text-transform: uppercase;
  background: linear-gradient(to right, #40e0d0, #1bbfaf);
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.btn:focus,
.btn:active {
  border: none;
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
.btn.tweet {
  float: right;
}
.wrapperbis{
  display: grid;
  grid-gap: 10px;
  color: #444;
}


@media screen and (min-width: 1200px) {
  .container {
    width: 1225px;
  }
}
@media screen and (min-width: 600px) {
  .container {
    width: 1225px;
  }
}
@media screen and (min-width: 1225px) {
  .container {
    width: 1225px;
  }
}
